<!DOCTYPE html>
<html lang="zh">
    {% include "AppBundle:default:header.html.twig" %}

    <body>

        {% include "AppBundle:default:nav.html.twig" %}

        {% block content %}{% endblock %}

        {% include "AppBundle:default:footer.html.twig" %}
    </body>
</html>
